.card {
    font-family: arial;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
}

/* ==================== CLOZE INTERACTIVE ==================== */
/* Styles for clozes */
.cloze {
    font-weight: bold;
    color: #b20101;
}
.nightMode .cloze {
    color: #ffcccb;
}
a.cloze {
    text-decoration: none;
}

/* Styles for revealed clozes */
.cloze.revealed {
    cursor: default;
}

/* Highlight clozes */
.highlight-cloze {
    color: #1d4ed8 !important;
}
.nightMode .highlight-cloze {
    color: lightblue !important;
}

/* Prevents gesture conflicts with cloze elements containing MathJax, especially on AnkiDroid */
.cloze {
    position: relative;
    display: inline-block;
}
a.cloze::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000; /* Ensures it stays above the content to capture clicks */
    pointer-events: auto; /* Enables pointer events to capture clicks */
}
