.card {
    font-family: arial;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
}
.cloze {
    font-weight: bold;
    color: #7f0101;
}
.cloze.interactive {
    cursor: pointer;
}
.nightMode .cloze {
    color: #ffcccb;
}
